html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #444;
}

h1, h2, h3 {
    text-align: center;
    color: #ddd;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.buttonDiv {
    display: flex;
}

#generate {
    margin: 0 auto;
    padding: 0.7rem 3.5rem;
    font-size: 1.1rem;
    border-radius: 0.7rem;
    background-color: #c72;
}

#generate:hover {
    background-color: #e94;
}

.story-container {
    display: flex;
    margin: 2rem auto;
    width: 80%;
    /* height: 50%; */
    min-height: 460px;
    background-color: #bbb;
    border-radius: 1rem;
}

.story {
    font-family: Florence, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', cursive, sans-serif;
    font-size: 1.3rem;
    color: #320;
    margin: auto 2rem;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }

    .story-container {
        width: 95%;
    }

    .story {
        margin: 1.5rem;
    }
}